*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 100px);
    counter-increment: auto;
    display: flex;
}



aside{
    background-color: black;
    width: 30%;
    height: 100%;
    color: hsl(0deg 0% 42%);
    padding-left: 20px;
}

#logo{
    width: 50%;
}

ul{
    list-style-type: none;
    padding: 15px 0px;
}

li{
    padding: 5px 0px;

}

ul img{
    width:10%;
}

.download-app img, .user img{
    width:10%;
}

.container{
    background-color: hsl(219deg 26% 11%);
    height: 100%;
    width: 70%;
}

footer{
    background-color: hsl(0deg 0% 16%);
    height: 100px;
}