*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    height: calc(100vh - 80px);
    overflow: hidden;
    counter-increment: auto;
    display: flex;
    
    
}

body{
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

/******************** LEFT SIDEBAR ********************/

aside{
    background-color: black;
    width: 20%;
    height: 100%;
    color: hsl(0deg 0% 42%);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.down-container{
    padding-bottom: 10px;
}

#logo{
    padding: 20px 0;
    width: 60%;
}

ul{
    list-style-type: none;
    padding: 15px 0px;
}

a{
    text-decoration: none;
    padding: 15px 0px;
    color: hsl(0deg 0% 42%);
}

li{
    padding: 5px 0px;
}

a:hover{    
    color: white;
}

ul img{
    width: 20px;
}

.playlist-container{
    font-size: 14px;
}

.playlist-container h2{
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 15px 0
}

.new-playlist a{
    display: flex;
    align-items: center;
}

.new-playlist h3{
    font-size: 16px;
    padding-left: 10px;
}

.plus{
    background-color: hsl(0deg 0% 64%);
    padding: 0px 9px;
    font-size: 30px;
    color: black;
}


.download-app img, .user img{
    width: 20px;
    align-items: center;
}

.download-app{
    display: flex;
    align-content: center;
    align-items: center;
}
.download-app a{
        display: flex;
        align-items: center;
        font-size: 14px;
}

.download-app p{
    padding-left: 10px;
}

.user-icon{
    background-color: hsl(0deg 0% 50%);
    width: 28px;
    border-radius: 50px;
    text-align: center;
}

.user a{
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

.user p{
    padding-left: 10px;
}
/******************** PRINCIPAL CONTAINER ********************/

.main-content{
    background-color: hsl(219deg 26% 11%);
    height: 100%;
    width: 80%;
}

.main-header{
    background-color: hsl(227deg 33% 5%);
    height: 10%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header a{
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 25px;
    
}

.main-header a:hover{
    transform: scale(1.1);
}

.category-nav{
    padding: 0 15%;
}
.category-nav ul{
    display: flex;
    font-size: 12px;
    justify-content: space-around;
}

.category-nav a:hover{    
    color: white;
}


.song-container{
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;

}

h1{
    color: white;
    padding-top: 20px;
}

.recently, .created-for{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.container-createdfor{
    width: 100%;;
}

.created-for{
    justify-content: flex-start;
    width: 100%;
}

.main-song{
    max-width: calc(100% / 6 - 10px);
    text-align: center;
    line-height: 12px;
    margin: 0px 5px;
}

.song-container img{
    width: 100%;
}

.container-recently h1{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.container-createdfor h1{
    font-size: 20px;
    font-weight: bolder;
    
}

.song-container h3{
    color: white;
    font-size: 12px;
    padding-top: 10px;
}

.song-container h4{
    color: hsl(0deg 0% 42%);
    font-size: 10px;
    padding: 8px 0;
}

/******************** FOOTER ********************/

footer{
    background-color: hsl(0deg 0% 16%);
    height: 80px;
    display: flex;
}

/********* LEFT NAV FOOTER *********/

.left-nav-footer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.song{
    padding: 20px 10px;
    display: flex;
}

.song img{
    background-color: blue;
    height: 100%;
}

.info-song{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: white;
}

.info-song h2{
    font-size: 16px;
}

.info-song h3{
    font-size: 12px;
    color: hsl(0deg 0% 50%);
    font-weight: 500;
}

.title:hover{
    color:white;
    text-decoration: underline;
}

.song-icon{
    display: flex;
    align-items: center;
}

.song-icon i{
    padding: 0 5px;
    font-size: 18px;
    color: hsl(0deg 0% 50%);
}

.far:hover{
    color: white;
}


/********* CENTRAL NAV FOOTER *********/

.central-nav-footer{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.control .play-player{
    width: 35px;
    height: 35px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control .play-player a{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control. .play-player:hover{
    transform: scale(1.1);
}

.control i{
    padding: 0 10px;
    font-size: 18px;
    color: white;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.bar .container-bar{
    width: 80%;
    height: 3px;
    background-color: hsl(0deg 0% 35%);
    border-radius: 10px;
}

.past-time{
    padding-right:20px;
}

.duration{
    padding-left:20px;
}

.bar .progression-bar{
    width: 30%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.bar .progression-bar:hover{
    background-color:hsl(79deg 81% 66%);
}

/********* RIGHT NAV FOOTER *********/

.right-nav-footer{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-icon {
    display: flex;
    color: white;
    font-size: 12px;
}

.control-icon i{
    width: 30%;
    padding: 0 5px;
}

.container-volume-bar{
    width: 70%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    align-items: center;
}

.container-volume-bar .volume-bar{
    width: 80%;
    height: 3px;
    background-color: hsl(0deg 0% 35%);
    border-radius: 10px;
}

.container-volume-bar .progression-bar{
    width: 30%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.container-volume-bar:hover .progression-bar{
    background-color:hsl(79deg 81% 66%);
}


