*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 100px);
    counter-increment: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;


}


/******************** LEFT SIDEBAR ********************/

aside{
    background-color: black;
    width: 30%;
    height: 100%;
    color: hsl(0deg 0% 42%);
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.upp-container{

}

.down-container{
    padding-bottom: 10px;
}



#logo{
    padding: 20px 0;
    width: 60%;
}

ul{
    list-style-type: none;
    padding: 15px 0px;
}

li{
    padding: 5px 0px;
}

ul img{
    width: 20px;
}

.playlist-container{
    font-size: 14px;
}

.playlist-container h2{
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 15px 0
}

.new-playlist {
    display: flex;
    align-items: center;
}

.new-playlist h3{
    font-size: 16px;
    padding-left: 10px;
}

.plus{
    background-color: hsl(0deg 0% 64%);
    padding: 0px 9px;
    font-size: 30px;
    color: black;
}


.download-app img, .user img{
    width: 20px;
}

.container{
    background-color: hsl(219deg 26% 11%);
    height: 100%;
    width: 70%;
}

/******************** PRINCIPAL CONTAINER ********************/




/******************** FOOTER ********************/

footer{
    background-color: hsl(0deg 0% 16%);
    height: 100px;
}